<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Script Link for Icons used in Interface through FontAwesome -->
    <script src="https://kit.fontawesome.com/81b06af5ec.js" crossorigin="anonymous"></script>
    <!-- Link to CSS Stylesheet-->
    <link rel="stylesheet" href="css/styles.css">
    <title>IP3Diary - Account</title>

</head>


<body>

    <!--Navigation Menu-->
    <div class="nav-menu">
        <div id="burger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div id="nav-content">
        <ul class="pages-container">
            <li class="nav-page">
                <a href="" class="nav-link">Calendar</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Lists</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Notes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Recipes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Account</a>
            </li>
        </ul>
        <button id="logoutBtn">Sign Out</button>
    </div>

    <main>

            <header>
                <h1>{{user.forename}}'s Account </h1>
            </header>
            <br><br><br>
            <!-- Form for Account Page-->
            <fieldset id="account-fieldset">

    {{#account}}

               
                <!-- Account Forename -->
                <label for="Editname" id="account-label" class="account"> Forename: {{forename}} </label>
                <br>
                <br>


                <!-- Account Surname -->
                <label for="Editname" id="account-label" class="accountSname"> Surname: {{surname}} </label>
                <br>
                <br>

              

                <!-- Email Address-->
                <label for="Editemail" id="account-label" class="account-email"> Email: {{email}}</label>
                <br>
                <br>
                
                

                <!-- Edit Account -->
            <form>
                <button type="text" id="account-buttons" class="account-edit" formaction="/account/{{_id}}" formmethod="get"> Edit Account Details</button>
            </form>
               {{/account}}
            </fieldset>
      
        <a href="/logout">LOGOUT</a>
<br>

</main>

<!-- Link to Account Script File-->
<script scr="JavaScript/account.js"></script>
            
</body>
    
</html>