<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Script Link for Icons used in Interface through FontAwesome -->
    <script src="https://kit.fontawesome.com/81b06af5ec.js" crossorigin="anonymous"></script>
    <!-- Link to CSS Stylesheet-->
    <link rel="stylesheet" href="css/styles.css">
    <title>Personal Organiser</title>

</head>

 <!--Navigation Menu-->
 <div class="nav-menu">
    <div id="burger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</div>
<div id="nav-content">
    <ul class="pages-container">
        <li class="nav-page">
            <a href="" class="nav-link">Calendar</a>
        </li>
        <li class="nav-page">
            <a href="" class="nav-link">Lists</a>
        </li>
        <li class="nav-page">
            <a href="" class="nav-link">Notes</a>
        </li>
        <li class="nav-page">
            <a href="" class="nav-link">Recipes</a>
        </li>
        <li class="nav-page">
            <a href="" class="nav-link">Account</a>
        </li>
    </ul>
    <button id="logoutBtn">Sign Out</button>
</div>

<main>

        <header>
            <h1>IP3Diary</h1>
        </header>


    <!-- Form for Admin Page-->
    <fieldset id="admin-fieldset">

         <!-- Search Bar -->
         <label for="Search" id="admin-label" class="admin">Search</label>
         <input type="text" id="admin-control" name="search" placeholder="Search">   
         <button type="text" id="admin-buttons" name="search">Search</button>
         <br>

         <!-- Account Name -->
         <label for="Editadminname" id="admin-label" class="admin-name">Account Name </label>
         <input type="text" id="admin-control" name="editadminname" placeholder="Edit Name">    
         <button type="text" id="admin-buttons" name="editadminname">Edit Name</button>
         <br>
         <br>

       

         <!-- Email Address-->
         <label for="Editadminemail" id="admin-label" class="admin-email">Email Address</label>
         <input type="text" id="admin-control" name="editadminemail" placeholder="Edit Email">
         <button type="text" id="admin-buttons" name="editadminemail">Edit Email Address</button>
         <br>
         <br>

         

         <!--Edit Password Admin-->
         <label for="Editadminpassword" id="admin-label" class="admin-password">Edit Password</label>
         <input type="text" id="admin-control" name="editadminpassword" placeholder="Edit Password">  
         <button type="text" id="admin-buttons" name="editadminpassword">Edit Password</button>
         <br>
         <br>

         

         <!-- Delete Account-->
         <label for="Deleteaccount" id="admin-label" class="admin-delete">Delete Account</label>
         <div class="flex-container">  
         <button type="text" id="admin-buttons" name="deleteadminaccount">Delete Account</button>
         <br>
         

         

         <!-- Save Changes -->
         <label for="Savechanges" id="account-label" class="admin-save">Save Changes</label> 
         <button type="text" id="account-buttons" name="savechanges">Save Changes</button>
         <br>
         

        
     </fieldset>
 </form>
<br>
<a href="/logout">LOGOUT</a>
</main>

<!-- Link to Account Script File-->
<script scr="JavaScript/admin.js"></script>
            
</body>

</html>
