<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Script Link for Icons used in Interface through FontAwesome -->
        <script src="https://kit.fontawesome.com/81b06af5ec.js" crossorigin="anonymous"></script>
        <!-- Link to CSS Stylesheet-->
        <link rel="stylesheet" href="css/styles.css">
        <title>Personal Organiser - Admin</title>
    </head>

    <body>
        <!--For alligning menu icon and title-->
        <div class="title-bar">
            <div id="burger-menu" onclick="openNav()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <!--Navigation Menu-->
            <div id="nav-menu">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <div id="nav-options">
                    <a href="/">Home</a>
                    <a href="/calendar">Calendar</a>
                    <a href="/lists">Lists</a>
                    <a href="/notes">Notes</a>
                    <a href="/recipes">Recipes</a>
                    <a href="/account">Account</a>
                    <a href="/admin" hidden="true">Admin</a>
                    <div id="spacer"></div>
                    <a href="/logout">LOGOUT</a>
                </div>
            </div>

            <header>
                <h1>Admin Page</h1>
            </header>
        </div>

        <main>
            <!-- Account Selection -->
            <fieldset id="account-fieldset">
                <form>
                    <p>Select an account to manage:</p>           
                    <ol id="list"><br>
                        {{#account}}
                        <li>{{email}}</li>
                        <a href="admin/{{_id}}">Edit Account</a><br>
                        <hr>
                        {{/account}}
                    </ol><br><br>
                </form>
            </fieldset>
        </main>  
        <script>
            //Nav Menu
            function openNav() {
                document.getElementById("nav-menu").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("nav-menu").style.width = "0";
            }
        </script> 
    </body>
</html>