<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Personal Organiser</title>
</head>

<body>
    <!--For alligning menu icon and title-->
    <div class="title-bar">
        <div id="burger-menu" onclick="openNav()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!--Navigation Menu-->
        <div id="nav-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="nav-options">
                <a href="/">Home</a>
                <a href="/calendar">Calendar</a>
                <a href="/lists">Lists</a>
                <a href="/notes">Notes</a>
                <a href="/recipes">Recipes</a>
                <a href="/account">Account</a>
                <a href="/admin" class="hide">Admin</a>
                <div id="spacer"></div>
                <a href="/logout">LOGOUT</a>
            </div>
        </div>

        <header>
            <h1>Calendar</h1>
        </header>
    </div>

    <!--Main section - contains the pages content-->
    <main id="calendar-main">
        
        <div id="calendar-content">
            <!--Section for user interaction-->
            <section id="calendar-actions">    
                <!--Calendar View-->
                <div class="calendar">
                    <div class="month">
                        <p><i class="arrow left prev"></i></p>
                        <div class="date">
                            <h2></h2>
                            <p></p>
                        </div>
                        <p><i class="arrow right next"></i></p>
                    </div>
                    <div class="weekdays">
                        <div>Sun</div>
                        <div>Mon</div>
                        <div>Tue</div>
                        <div>Wed</div>
                        <div>Thur</div>
                        <div>Fri</div>
                        <div>Sat</div>
                    </div>
                    <div class="days">
                    </div>
                </div>
                <div class="buttonDiv">
                    <button class="actionButton" id="newEventBtn" onclick="showForm()">ADD EVENT</button>
                    <button class="actionButton" onclick="showEditingButtons()">EDIT EVENTS</button>
                </div>
                <div class="buttonDiv">
                    <button class="actionButton hide" id="editComplete" onclick="hideEditingButtons()">CONFIRM</button>
                </div>
                

                <!--Adding New Event Form-->
                <dialog class="newEvent">
                    <button class="actionButton" onclick="hideForm()">CANCEL</button>
                    <div class="form-input">
                        <form>
                            <div class="pairing">
                                <label for="eventName">Event name:</label><br>
                                <input type="text" name="eventName" placeholder="Type your event name here..."><br>
                            </div>
                            <div class="pairing">
                                <label for="date">Date:</label><br>
                                <input type="datetime-local" name="datetime" class="display-dropdown"><br>
                            </div>
                            <div class="pairing">
                                <label for="eventType">Event type:</label><br>
                                <div>
                                    <select name="eventType" class="display-dropdown">
                                        <option value="Appointment">Appointment</option>
                                        <option value="Birthday">Birthday</option>
                                        <option value="Meeting">Meeting</option>
                                        <option value="Other">Other</option>
                                    </select>
                                </div>
                            </div>
                            <div class="pairing">
                                <label for="EvtNote">Notes:</label><br>
                                <textarea name="EvtNote" placeholder="Additional details..."></textarea>
                            </div>
                            <div class="buttonDiv">
                                <button class="actionButton" type="submit" formaction="/calendar" formmethod="post">ADD EVENT</button>
                            </div>
                        </form>
                    </div>
                </dialog>
            </section>
            
            <!--Section of added events-->
            <section id="events">
                <ul id="landing-event">
                    <h3>Upcoming Events<h3>
                    {{#events}}  
                        <li class="event">
                            <div id="event-content">
                                <h3>Name: <span>{{eventName}}</span></h3><hr>
                                <p>Date: <span class="eventDate">{{date}}</span></p><hr>
                                <p>Event Type: <span>{{eventType}}</span></p><hr>
                                <p>Notes: <span>{{note}}</span></p>
                            </div>
                            <div id="event-btns">
                                <a href="calendar/{{_id}}" class="anchorButton editEvent hide">UPDATE</a>
                                <button class="anchorButton removeEvent hide">
                                    <div class="tooltip">REMOVE
                                        <span class="tooltip-warning">This will permanently remove event!</span>
                                    </div>
                                </button>
                            </div>
                        </li>
                    {{/events}}
                </ul>
            </section>
        </div>
    </main>
    <script src="./JavaScript/calendar.js"></script>
</body>

</html>