<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IP3 Diary - Login</title>
    <script src="https://kit.fontawesome.com/81b06af5ec.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet" /> 
</head>

<body>

    <!-- Header-->
    <header>
        <h1>IP3Diary</h1>
        <h2 id="sub-header">For all your planning and scheduling needs</h2>
    </header>
    <br><br><br>

    <form id="login-form">
        <fieldset id="login-fieldset">
            <legend id="login-legend">Login</legend>
            <div class="email">
                <label class="email-class" id="form-label"> Email:</label><br>
                <input id="form-control" type="email" placeholder="Type your email here" id='email' name="email" required>
            </div>
            <div class="password">
                <label class="password-class" id="form-label"> Password:</label><br>
                <input id="form-control" type="password" placeholder="Type your password here" id="password" name="password" required>
            </div><br>
            <button id="login-buttons" type="submit" formaction="/landing" formmethod="post">LOGIN</button>
            <button id="login-buttons" type="submit" formnovalidate formaction="/signup" formmethod="get">SIGN
                UP</button>
            <button id="login-buttons" type="submit" formnovalidate formaction="/password" formmethod="get">FORGOT
                PASSWORD?</button>
        </fieldset>
    </form>
</body>

</html>