<!DOCTYPE html>
<html lang="en" class="landingPage">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>IP3 Diary</title>
</head>

<body>
    <!--For alligning menu icon and title-->
    <div class="title-bar">
        <div id="burger-menu" onclick="openNav()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <!--Navigation Menu-->
        <div id="nav-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="nav-options">
                <a href="/">Home</a>
                <a href="/calendar">Calendar</a>
                <a href="/lists">Lists</a>
                <a href="/notes">Notes</a>
                <a href="/recipes">Recipes</a>
                <a href="/account">Account</a>
                <a href="/admin" class="hide">Admin</a>
                <div id="spacer"></div>
                <a href="/logout">LOGOUT</a>
            </div>
        </div>

        <header>
            <h1>Welcome {{user.forename}}</h1>
        </header>
    </div>

    <main id="landing-main">
        <section id="Landing-left">
            <!--Displays latest note from user-->
            <div class="landing-left-inner">
                <h3>Most Recent Note</h3><br>
                <ul id="list" class="landing-list">
                    {{#notes}}
                    <h3>Title:&ensp;{{title}}</h3><hr><br>
                    <li> {{content}}</li>
                    {{/notes}}
                </ul>
                <br>
            </div>
            <!--Displays latest list by user-->
            <div class="landing-left-inner">
                <h3>Most Recent List</h3><br>
                <ul id="list" class="landing-list">
                    {{#lists}}
                    <h3>Title:&ensp;{{title}}</h3><hr><br><br>
                        <li><input type="checkbox" class="itemBox" id="item1" name="item1" onclick="return false;"><label class="itemLabel" for="item1">{{box1}}{{item1}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item2" name="item2" onclick="return false;"><label class="itemLabel" for="item2">{{box2}}{{item2}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item3" name="item3" onclick="return false;"><label class="itemLabel" for="item3">{{box3}}{{item3}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item4" name="item4" onclick="return false;"><label class="itemLabel" for="item4">{{box4}}{{item4}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item5" name="item5" onclick="return false;"><label class="itemLabel" for="item5">{{box5}}{{item5}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item6" name="item6" onclick="return false;"><label class="itemLabel" for="item6">{{box6}}{{item6}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item7" name="item7" onclick="return false;"><label class="itemLabel" for="item7">{{box7}}{{item7}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item8" name="item8" onclick="return false;"><label class="itemLabel" for="item8">{{box8}}{{item8}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item9" name="item9" onclick="return false;"><label class="itemLabel" for="item9">{{box9}}{{item9}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item10" name="item10" onclick="return false;"><label class="itemLabel" for="item10">{{box10}}{{item10}}</label></li>
                    {{/lists}}
                    <br><br>
                </ul>
            </div>
        </section>
        <!--Displays 5 closest events from users calendar-->
        <section id="landing-right">
            <h3>Upcoming Calendar Events</h3><br>
            <!--For 1 calendar event-->
             <ul id="landing-event">
                {{#events}}  
                    <li class="event">
                        <div id="event-content">
                            <h3>Name: <span class="inliner">{{eventName}}</span></h3><hr>
                            <p>Date: <span class="date">{{date}}</span></p><hr>
                            <p>Event Type: <span>{{eventType}}</span></p><hr>
                            <p>Notes: <span>{{note}}</span></p>
                        </div>
                    </li>
                {{/events}}
            </ul>
        </section>
    </main>
<script src="./JavaScript/landing.js"></script>
</body>

</html>