<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>IP3 Diary</title>
</head>

<body>
    <!--Navigation Menu-->
    <div class="nav-menu">
        <div id="burger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div id="nav-content">
        <ul class="pages-container">
            <li class="nav-page">
                <a href="" class="nav-link">Calendar</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Lists</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Notes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Recipes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Account</a>
            </li>
        </ul>
        <button id="logoutBtn">Sign Out</button>
    </div>

    <main>
        <header>
            <h1>Welcome {{user.forename}}</h1>
        </header>

<ol id="list">
<p>Most Recent Note</p>
{{#notes}}
<p>Title:</p>
<li class="inliner">{{title}}</li>
<p>Content:</p>
<li> {{content}}</li>
{{/notes}}
</ol>
<br>
<ol id="list">
<p>Most Recent List</p>
{{#lists}}
<p>Title:</p>
<li class="inliner">{{title}}</li>
<p>Items</p>
<li> {{item1}}</li>
<li> {{item2}}</li>
<li> {{item3}} </li>
<li> {{item4}} </li>
<li> {{item5}} </li>
<li> {{item6}} </li>
<li> {{item7}} </li>
<li> {{item8}} </li>
<li> {{item9}} </li>
<li> {{item10}} </li>
{{/lists}}
<br><br>



<ol id="sdfsdf">
<p>calendar test</p>
{{#events}}
<p>Name:</p>
<li class="inliner">{{eventName}}</li>
<p>Date:</p>
<li id="date"> {{date}}</li>
<p>Priority level:</p>
<li> {{priority}}</li>
<p>Note:</p>
<li> {{note}}</li>
{{/events}}
</ol>
       
    <a href="/logout">LOGOUT</a>
    </main>
    <script src="./JavaScript/landing.js"></script>

</body>

</html>