<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/styles.css">
      <title>To-Do Lists</title>
   </head>
   <html>
      <body>
         <!--For alligning menu icon and title-->
         <div class="title-bar">
            <div id="burger-menu" onclick="openNav()">
               <span class="bar"></span>
               <span class="bar"></span>
               <span class="bar"></span>
            </div>
            <!--Navigation Menu-->
            <div id="nav-menu">
               <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
               <div id="nav-options">
                  <a href="/">Home</a>
                  <a href="/calendar">Calendar</a>
                  <a href="/lists">Lists</a>
                  <a href="/notes">Notes</a>
                  <a href="/recipes">Recipes</a>
                  <a href="/account">Account</a>
                  <a href="/admin" class="hide">Admin</a>
                  <div id="spacer"></div>
                  <a href="/logout">LOGOUT</a>
               </div>
            </div>
            
            <header>
               <h1>To-Do Lists</h1>
            </header>
         </div>
         <main>
         <!-- abillity to add list -->
         <section id="newListDiv" hidden="true">
            <form>
               <div class="pairing">
                  <label id="listTitlelb"> List Title</label>
                  <input type="text" id="listTitle" name="listTitle"required>
               </div>   
               <div class="pairing">
                  <label id="listItemlb1"> Item 1</label>
                  <input type="text" id="listItem1" name="listItem1" required>
               </div>
               <div class="pairing">
                  <label id="listItemlb2" hidden="true"> Item 2</label>
                  <input type="text" id="listItem2" name="listItem2" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb3" hidden="true"> Item 3</label>
                  <input type="text" id="listItem3" name="listItem3" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb4" hidden="true"> Item 4</label>
                  <input type="text" id="listItem4" name="listItem4" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb5" hidden="true"> Item 5</label>
                  <input type="text" id="listItem5" name="listItem5" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb6" hidden="true"> Item 6</label>
                  <input type="text" id="listItem6" name="listItem6" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb7" hidden="true"> Item 7</label>
                  <input type="text" id="listItem7" name="listItem7" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb8" hidden="true"> Item 8</label>
                  <input type="text" id="listItem8" name="listItem8" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb9" hidden="true"> Item 9</label>
                  <input type="text" id="listItem9" name="listItem9" hidden="true">
               </div>
               <div class="pairing">
                  <label id="listItemlb10" hidden="true"> Item 10</label>
                  <input type="text" id="listItem10" name="listItem10" hidden="true">
               </div>
               <div class="buttonDiv">
                  <button class="actionButton" type="submit" formaction="/lists" formmethod="post">SAVE</button>
                  <button type="button" class="actionButton" onclick="expandList()">ADD ITEM</button>
               </div>
               <div class="buttonDiv">
                  <button type="button" id="cancelBtn" class="actionButton" formaction="/lists" onclick="hideAddForm()">CANCEL</button>
               </div>
            </form>
         </section>

         <!--Display for a list-->
         <section id="listBlock">
            <div>
               <ul id="list"> 
                  {{#lists}} 
                  <div class="listBox">
                     <div id="list-content">
                        <h3>
                           <li>{{title}}</li>
                        </h3><hr><br>
                        <ul>
                           <li><input type="checkbox" class="itemBox" id="item1" name="item1" onclick="return false;"><label class="itemLabel" for="item1">{{box1}}{{item1}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item2" name="item2" onclick="return false;"><label class="itemLabel" for="item2">{{box2}}{{item2}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item3" name="item3" onclick="return false;"><label class="itemLabel" for="item3">{{box3}}{{item3}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item4" name="item4" onclick="return false;"><label class="itemLabel" for="item4">{{box4}}{{item4}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item5" name="item5" onclick="return false;"><label class="itemLabel" for="item5">{{box5}}{{item5}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item6" name="item6" onclick="return false;"><label class="itemLabel" for="item6">{{box6}}{{item6}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item7" name="item7" onclick="return false;"><label class="itemLabel" for="item7">{{box7}}{{item7}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item8" name="item8" onclick="return false;"><label class="itemLabel" for="item8">{{box8}}{{item8}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item9" name="item9" onclick="return false;"><label class="itemLabel" for="item9">{{box9}}{{item9}}</label></li>
                           <li><input type="checkbox" class="itemBox" id="item10" name="item10" onclick="return false;"><label class="itemLabel" for="item10">{{box10}}{{item10}}</label></li>
                        </ul>
                     </div>
                     <br>
                     <div class="buttonDiv">
                        <a href="lists/{{_id}}" class="anchorButton" hidden="true">UPDATE</a>
                     </div>
                  </div>
                  {{/lists}}
               </ul>
            </div>
            <div class="buttonDiv">
                  <button class="actionButton" onclick="newList()">ADD LIST</button>
                  <button class="actionButton" onclick="editList()">EDIT LIST</button>                    
            </div>
         </section>
      </body>
      <script src="./JavaScript/lists.js"></script>
   </html>