<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="css/styles.css">
      <title>
         Notes
      </title>
   </head>
   <body>
      <!--For alligning menu icon and title-->
      <div class="title-bar">
         <div id="burger-menu" onclick="openNav()">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
         </div>
         <!--Navigation Menu-->
         <div id="nav-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="nav-options">
               <a href="/">Home</a>
               <a href="/calendar">Calendar</a>
               <a href="/lists">Lists</a>
               <a href="/notes">Notes</a>
               <a href="/recipes">Recipes</a>
               <a href="/account">Account</a>
               <a href="/admin" class="hide">Admin</a>
               <div id="spacer"></div>
               <a href="/logout">LOGOUT</a>
            </div>
         </div>
         <header>
            <h1>Notes</h1>
         </header>
      </div>
      <section id="newNote" hidden="true">
         <form>
            <div class="pairing">
               <label class="sectionLabels"> Note Title: </label>
               <input type="text" id="titleInput" placeholder="Type your Note Title here..." name="noteTitle" required> <br>
            </div>
            <div class="pairing">
               <label for="contentInput" class="sectionLabels"> Note Content: </label>
               <textarea id="contentInput" placeholder="Type your Note Content here..." name="noteContent" required></textarea> <br>
            </div>
            <div class="buttonDiv">
               <button class="actionButton" type="submit" formaction="/notes" formmethod="post">SAVE</button>
               <button type="button" id="cancelBtn" class="actionButton" onclick="hideAddForm()">CANCEL</button>
            </div>
         </form>
      </section>
      <section id="sectionBlock">
         <div>
            <ul id="note">
               {{#notes}} 
               <div class="notesBox">
                  <div id="notes-content">
                     <h3>
                        <li>{{title}}</li>
                     </h3>
                     <hr>
                     <br>
                     <ul>
                        <li>{{content}}</li>
                     </ul>
                  </div>
                  <br>
                  <div class="buttonDiv">
                     <a href="notes/{{_id}}" class="anchorButton" hidden="true">UPDATE</a>
                  </div>
               </div>
               {{/notes}}
            </ul>
         </div>
         <div class="buttonDiv">
            <button class="actionButton" id="notes-buttons" onclick="newNote()">ADD NOTE</button>
            <button class="actionButton" id="notes-buttons"onclick="editNote()">EDIT NOTE</button>
         </div>
      </section>
      </main>
      <script src="./JavaScript/notes.js"></script>
   </body>
</html>