<!DOCTYPE html>
<html lang="en">

<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>
        Notes
    </title>
</header>

<body>
    <!--Navigation Menu-->
    <div class="nav-menu">
        <div id="burger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div id="nav-content">
        <ul class="pages-container">
            <li class="nav-page">
                <a href="" class="nav-link">Calendar</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Lists</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Notes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Recipes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Account</a>
            </li>
        </ul>
        <button id="logoutBtn">Sign Out</button>
    </div>

    <main>
        <h1>
            Notes
        </h1>
<!-- abillity to add note -->
        <div id="newNoteDiv" hidden="true">
            <form>
                <label id="noteTitle"> Note Title</label>
                <input id="noteTitle" name="noteTitle"required> <br>
                <label id="noteContent"> Note Content</label>
                <input id="noteContent" name="noteContent" required> <br>
                <button id="add"type="submit" formaction="/notes" formmethod="post">Save</button>
            </form>
        </div>


<ol id="list">
{{#notes}}
Title: 
<li class="inliner">{{title}}</li>
Content:
<li> {{content}}</li>
<a href="notes/{{_id}}" class="edit" hidden="true">update</a>
<button class="remove" hidden="true">remove note</button> <br>
{{/notes}}
</ol>
        <br>
        <div class="recipe-buttons">
            <button id="note-button" onclick="newNote()">ADD NOTE</button>
            <button id="recipe-buttons"onclick="editNote()">EDIT NOTE</button>
        </div>
    </main>
    <a href="/logout">LOGOUT</a>
    <script src="./JavaScript/notes.js"></script>
</body>

</html>