<!DOCTYPE html>
<html lang="en" class="passwordPage">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>IP3 Diary - Password Reset</title>
      <link href="css/styles.css" rel="stylesheet" />
   </head>
   <body>
      <!-- Header-->
      <header>
      <h1>IP3Diary</h1>
      <h2 id="sub-header">For all your planning and scheduling needs</h2>
      <br><br><br>
      <div class="passwordAlign">
         <section id="passwordBlock">
            <div id="passwordBox">
               <form action="https://getform.io/f/d8b3dc71-2f57-4aef-82fd-2d056dbb59c8" method="POST">
                  <div class="pairing">
                     <label class="sectionLabels">Please enter the email address of your account</label>
                     <input id="emailInput" type="email" name="email" placeholder="Type email here" 
                        formmethod="post" required> <br><br>
                  </div>
                  <div class="buttonDiv">
                     <button class="actionButton" type="submit">SEND</button>
                     <button class="actionButton" formaction="/login" formmethod="get" formnovalidate>BACK</button>
                  </div>
               </form>
            </div>
         </section>
      </div>
   </body>
</html>