<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Recipes</title>
</head>

<body>
    <!--For alligning menu icon and title-->
    <div class="title-bar">
        <div id="burger-menu" onclick="openNav()">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        <!--Navigation Menu-->
        <div id="nav-menu">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div id="nav-options">
                <a href="/">Home</a>
                <a href="/calendar">Calendar</a>
                <a href="/lists">Lists</a>
                <a href="/notes">Notes</a>
                <a href="/recipes">Recipes</a>
                <a href="/account">Account</a>
                <div id="spacer"></div>
                <a href="/logout">LOGOUT</a>
            </div>
        </div>

        <header>
            <h1>Recipes</h1>
        </header>
    </div>

    <main>
        <!-- abillity to add recipe -->
        <div id="newRecipeDiv" hidden="true">
            <form>
                <label id="recipeTitlelb"> Recipe Title</label>
                <input id="recipeTitle" placeholder="Type your recipe title here" name="recipeTitle"required> <br>
                <label id="recipreIngredientslb"> Ingredients</label>
                <input id="recipreIngredients" placeholder="Type your ingredients here" name="recipeIngredients" required> <br>
                <label id="recipreMethodlb"> Method</label>
                <input id="recipreMethod" placeholder="Type your methods here" name="recipeMethod" required> <br>
                <div class="add-button">
                    <button id="add"type="submit" formaction="/recipes" formmethod="post">Save</button>
                </div>
            </form>
        </div>

        <!--<div class="recipeBox">      
<ul id="list">
{{#recipes}}
<h3>Recipe Name:</h3>
<li class="inliner">{{title}}</li>
<h3>Ingredients:</h3>
<li> {{ingredients}}</li>
<h3>Method:</h3>
<li> {{method}}</li>
<a href="recipes/{{_id}}" class="edit" hidden="true">update</a>
<br>
<br>
{{/recipes}}
</ul>
</div>-->


        {{#recipes}}
        <table>
            <tr class="recipeBox">
                <th>Recipe name:<td>{{title}}</td></th>
                <th class="recipeBoxIngredients">Ingredients:</th>
            </tr>
            <tr class="recipeBoxTitle">
                <td class="recipeBoxIngredients1">{{ingredients}}</td>
            </tr>
            <tr class="recipeBoxTitle">
                <th>Method:</th>
            </tr>
            <tr class="recipeBoxMethod">
                <td>{{method}}</td>
            </tr>
            <tr>
                <td></td>
            </tr>
        </table>
        <div class="recipe-buttons">
            <a href="recipes/{{_id}}" class="edit" hidden="true">update</a>
        </div>
        {{/recipes}}

        <div class="recipe-buttons">
            <button id="recipe-buttons" onclick="newRecipe()">ADD RECIPE</button>
            <button id="recipe-buttons"onclick="editRecipe()">EDIT RECIPE</button>
        </div>
    </main>
    <script src="./JavaScript/recipe.js"></script>
    </body>

</html>