<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Recipes</title>
</head>

<body>
    <!--Navigation Menu-->
    <div class="nav-menu">
        <div id="burger-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
    <div id="nav-content">
        <ul class="pages-container">
            <li class="nav-page">
                <a href="" class="nav-link">Calendar</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Lists</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Notes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Recipes</a>
            </li>
            <li class="nav-page">
                <a href="" class="nav-link">Account</a>
            </li>
        </ul>
        <button id="logoutBtn">Sign Out</button>
    </div>

    <main>
        <header>
            <h1>Recipes</h1>
        </header>
        <!-- abillity to add recipe -->
        <div id="newRecipeDiv" hidden="true">
            <form>
                <label id="recipeTitlelb"> Recipe Title</label>
                <input id="recipeTitle" placeholder="Type your recipe title here" name="recipeTitle"required> <br>
                <label id="recipreIngredientslb"> Ingredients</label>
                <input id="recipreIngredients" placeholder="Type your ingredients here" name="recipeIngredients" required> <br>
                <label id="recipreMethodlb"> Method</label>
                <input id="recipreMethod" placeholder="Type your methods here" name="recipeMethod" required> <br>
                <div class="add-button">
                    <button id="add"type="submit" formaction="/recipes" formmethod="post">Save</button>
                </div>
            </form>
        </div>

        <!--<div class="recipeBox">      
<ul id="list">
{{#recipes}}
<h3>Recipe Name:</h3>
<li class="inliner">{{title}}</li>
<h3>Ingredients:</h3>
<li> {{ingredients}}</li>
<h3>Method:</h3>
<li> {{method}}</li>
<a href="recipes/{{_id}}" class="edit" hidden="true">update</a>
<br>
<br>
{{/recipes}}
</ul>
</div>-->


{{#recipes}}
<table>
<tr class="recipeBox">
<th>Recipe name:</th>
</tr>
<tr class="recipeBoxTitle">
<td>{{title}}</td>
</tr>
<tr class="recipeBoxIngredients">
<th>Ingredients:</th>
</tr>
<tr class="recipeBoxIngredients1">
<td>{{ingredients}}</td>
</tr>
<tr class="recipeBoxTitle">
<th>Method:</th>
</tr>
<tr class="recipeBoxMethod">
<td>{{method}}</td>
<a href="recipes/{{_id}}" class="edit" hidden="true">update</a>
</tr>
<tr>
<td></td>
</tr>
</table>
{{/recipes}}






<div class="recipe-buttons">
            <button id="recipe-buttons" onclick="newRecipe()">ADD RECIPE</button>
            <button id="recipe-buttons"onclick="editRecipe()">EDIT RECIPE</button>
        </div>

</div>


    <a id ="recipe-buttons" href="/logout">LOGOUT</a>
    </main>
    <script src="./JavaScript/recipe.js"></script>

</body>

</html>