<!DOCTYPE html>
<html lang="en" class="signupPage">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>IP3 Diary - Sign up</title>
      <link href="css/styles.css" rel="stylesheet" />
   </head>
   <body>
      <!-- Header-->
      <header>
         <h1>IP3Diary</h1>
         <h2 id="sub-header">For all your planning and scheduling needs</h2>
      </header>
      <main>
         <section id="sectionBlock">
            <div class="signupAlign">
               <form id="signupBox">
                  <legend class="sectionLabels">
                     Sign up
                     <hr>
                  </legend>
                  <div class="pairing">
                     <label class="sectionLabels">First Name:</label>
                     <input  type="text" id='fname' name="fname" placeholder="Enter your first name" required>
                  </div>
                  <div class="pairing">
                     <label class="sectionLabels">Last Name:</label>
                     <input type="text" id='sname' name="sname" placeholder="Enter your last name" required>
                  </div>
                  <div class="pairing">
                     <label class="sectionLabels">Email:</label>
                     <input type="text" id='email' name="email" placeholder="Enter your email address" required>
                  </div>
                  <div class="pairing">
                     <label class="sectionLabels">Password:</label>
                     <input  type="password" name="password"
                        placeholder="Enter password" required> <br>
                  </div>
                  <div class="terms">
                     <input type="checkbox" id="agree" name="agree" required>
                     <label class="sectionLabels">I agree to the <a href="https://www.termsandconditionsgenerator.com/live.php?token=5hzSp3oouGRIPx0MQyQt7aSfAy9U9PzJ" target="_blank">terms and
                     conditions</a></label><br>
                  </div>
                  <button class="actionButton" type="submit" formaction="/signup" formmethod="post">SIGN UP</button>
                  <a href="/login" id="form-label">Have an account? Login here</a>
               </form>
               <div id="accountBenifits">
                  <legend class="sectionLabels">
                     Create an account to gain access to the following:
                     <hr>
                  </legend>
                  <br>
                  <ul id="signupList">
                     <li class="sectionLabels">Write notes with our dedicated notes page</li>
                     <li>Edit, update or delete anything that comes to mind that you may need reminding of</li>
                     <br>
                     <li class="sectionLabels">Store all your favourite recipes</li>
                     <li>Whether its been in the family for decades or a fast favourite, our recipe page allows for both</li>
                     <br>
                     <li class="sectionLabels">Manage your day by creating and updating lists</li>
                     <li>Keep track of any shopping lists, chores or other tasks that require a checklist</li>
                     <br>
                     <li class="sectionLabels">Create and track events with our calendar</li>
                     <li>Appointments, Birthdays, Meetings and more will never be missed again thanks to our calendar page</li>
                     <br>
                     <li class="sectionLabels">Your home page is unique to you!</li>
                     <li>We organise your home page based off of recent notes and lists as well as any upcoming events you have added to your calendar!</li>
                     <br>
                  </ul>
               </div>
            </div>
         </section>
      </main>
   </body>
</html>