
<!DOCTYPE html>
<html lang="en" class="updateAdminPage">


<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/styles.css">
    <title>
       Update Account Details
    </title>
</header>
<body>
        <h1>
          Update Account Details
        </h1>

<!-- abillity to update account details -->
<div class="accountAlign">
<section id="sectionBlock">
        <div id="updateNoteDiv" > 
        
           <form>
           {{#account}}
           <div id="editAccountBox">
           <div class="pairing">
                <label id="fname">Update Forename:</label>
                <input type="text" name="fname" value="{{account.forename}}"> </div> <br>
                <div class="pairing">
                <label id="sname">Update Surname:</label>
                <input  type="text" name="sname" value="{{account.surname}}"> </div> <br>
                <div class="pairing">
                <label id="email">Update Email Address:</label>
                <input type="email" name="email" value="{{account.email}}"> </div> <br>
                <div class="pairing">
                <label id="password">Update Password:</label>
                <input type="password" name="password" value="{{password}}" type="password"></div> <br>
               
              <div class="accountButton">
                <button class="actionButton" type="submit" formaction="/adminUpdate/{{_id}}" formmethod="post">Save</button>
                <button class="actionButton" type="submit" formaction="/adminDelete/{{_id}}" formmethod="post">Delete Account</button>
                <button class="actionButton" type="submit" formaction="/admin" formmethod="get" formnovalidate>Back</button>
                {{/account}}
                </div>
                </div>
               </form>  
        </div>
        </section>
        </div>
</body>
</html>