<!DOCTYPE html>
<html lang="en" class="updateRecipesPage">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/styles.css">
      <title>
         Update Recipe
      </title>
   </head>
   <body>
      <h1>
         Update Recipe
      </h1>
      <!-- abillity to update recipe -->
      <section id="updatePageContent">
         <form>
            {{#recipes}}
            <div class="updateAlign">
               <div class="pairing">
                  <label class="sectionLabels"> Recipe Name</label>
                  <input id="Title" type="text" name="recipeTitle" value="{{title}}" required> <br>
               </div>
               <div class="pairing">
                  <label class="sectionLabels"> Ingredients</label>
                  <textarea id="content" name="recipeIngredients" required>{{ingredients}}</textarea> <br>
               </div>
               <div class="pairing">
                  <label class="sectionLabels"> Method</label>
                  <textarea id="detail" name="recipeMethod" required>{{method}}</textarea> <br>
               </div>
            </div>
            <div class="buttonDiv">
               <button class="actionButton" id="add"type="submit" formaction="/updateRecipes/{{_id}}" formmethod="post">UPDATE</button>
               <button class="actionButton" id="del"type="submit" formaction="/deleteRecipes/{{_id}}" formmethod="post">DELETE</button>
               <button class="actionButton" id="back" type="submit" formaction="/recipes" formmethod="get" formnovalidate>BACK</button>
               {{/recipes}}
            </div>
         </form>
      </section>
   </body>
</html>