<!DOCTYPE html>
<html lang="en" class="updateEventPage">


<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>
       Update Calendar Event
    </title>
</header>
<body>
        <h1>
          Update Calendar Event
        </h1>
<!-- abillity to update recipe -->
        <section id="updatePageContent"> 
           <form>
                {{#event}}
                    <div id="entry">
                        <div class="pairing">
                            <label > Event Name:</label>
                            <input type="text" name="eventTitle" value="{{eventName}}" required> <br>
                        </div>
                        <div class="pairing">
                            <label >Existing Date:</label><br>
                            <p class="eventDate">{{date}}</p><br>
                        </div>
                        <div class="pairing">
                            <label >Confirm Date:</label>
                            <input class="display-dropdown" type="datetime-local" name="datetime" value="{{date}}" required><br><br>
                        </div>
                        <div class="pairing">
                            <label > Notes:</label>
                            <input type="text" placeholder="Additional details..." name="eventNote" value="{{note}}" required><br>
                        </div>
                        <div class="pairing">
                            <label >Existing Event Type:</label>
                            <p>{{eventType}}</p>
                        </div>
                        <div class="pairing">
                            <label >Confirm Event Type:</label>
                            <select class="display-dropdown" name="eventType" value="{{eventTypeNew}}" placeholder="{{eventType}}" required>
                                <option value="Appointment">Appointment</option>
                                <option value="Birthday">Birthday</option>
                                <option value="Meeting">Meeting</option>
                                <option value="Other">Other</option>
                            </select><br>
                        </div>
                        <div class="buttonDiv">
                            <button class="actionButton" type="submit" formaction="/updateEvents/{{_id}}" formmethod="post">Edit</button>
                            <button class="actionButton" type="submit" formaction="/deleteEvents/{{_id}}" formmethod="post">Delete</button>
                            <button class="actionButton" type="submit" formaction="/calendar" formmethod="get" formnovalidate>Back</button>
                        </div>
                    </div>
                {{/event}}
            </form>  
        </section>
        <script>
            //Removes timezone from appearing on calendar entries
            let dates = document.getElementsByClassName('eventDate');
            for (let i = 0; i < dates.length; i++) {
            dates[i].innerHTML = dates[i].innerHTML.slice(0, -34);
            }
        </script>
    </body>
</html>