<!DOCTYPE html>
<html lang="en">


<header>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>
       Update Calendar Event
    </title>
</header>
<body>
        <h1>
          Update Calendar Event
        </h1>
<!-- abillity to update recipe -->
        <div id="updateNoteDiv" > 
           <form>
           {{#event}}
                <label id="Titlelb"> Event Name:</label>
                <input id="Title" name="eventTitle" value="{{eventName}}" required> <br>
                <label class="eventLabel">Existing Date:</label><br>
                <p class="event-title-output">{{date}}</p><br>
                <!--<input id="content" name="eventDate" value="{{date}}" required> <br>-->
                <label class="eventLabel">Confirm Date:</label>
                <input type="datetime-local" name="datetime" id="datetime" value="{{date}}"><br>
                <label class="eventLabel"> Notes</label>
                <input id="detail" name="eventNote" value="{{note}}" required> <br>
                <div class="pairing">
                    <label class="eventLabel">Existing Event Type:</label>
                    <p>{{eventType}}</p>
                </div>
                <div class="pairing">
                    <label class="eventLabel">Confirm Event Type:</label>
                    <!--<input id="detail" name="eventType" value="{{eventType}}" required> <br>-->
                    <div id="eventType">
                        <select name="eventType" id="eventType" value="{{eventTypeNew}}" placeholder="{{eventType}}">
                            <option value="Appointment">Appointment</option>
                            <option value="Birthday">Birthday</option>
                            <option value="Meeting">Meeting</option>
                            <option value="Other">Other</option>
                        </select>
                    </div><br>
                </div>
                <div class="add-button">
                <button id="add"type="submit" formaction="/updateEvents/{{_id}}" formmethod="post">Edit</button>
                <button id="del"type="submit" formaction="/deleteEvents/{{_id}}" formmethod="post">Delete</button>
                <button id="back" type="submit" formaction="/calendar" formmethod="get" formnovalidate>Back</button>
            {{/event}}
                </div>
            </form>  
        </div>
        <script src="./JavaScript/calendar.js"></script>
    </body>
</html>