<!DOCTYPE html>
<html lang="en" class="updatenotesPage">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="../css/styles.css">
      <title>
         Update Note
      </title>
   </head>
   <body>
      <header>
         <h1>Update Note</h1>
      </header>
      <!-- abillity to update note -->
      <section id="updatePageContent">
         <form>
            {{#notes}}
            <div class="updateAlign">
               <div class="pairing">
                  <label class="sectionLabels"> Note Title: </label>
                  <input type="text" id="titleInput" value="{{title}}" name="noteTitle" required> <br>
               </div>
               <div class="pairing">
                  <label for="contentInput" class="sectionLabels"> Note Content: </label>
                  <textarea id="contentInput" placeholder="Type your Note Content here..." name="noteContent" required>{{content}}</textarea> <br>
               </div>
            </div>
            <div class="buttonDiv">
               <button class="actionButton" type="submit" formaction="/updateNotes/{{_id}}" formmethod="post">UPDATE</button>
               <button class="actionButton" type="submit" formaction="/deleteNotes/{{_id}}" formmethod="post">DELETE</button>
               <button class="actionButton" type="submit" formaction="/notes" formmethod="get" formnovalidate>BACK</button>
               {{/notes}}
            </div>
         </form>
      </section>
   </body>
</html>