/* General elements */

    *, *::after, *::before {
        box-sizing: border-box;
        font-family: Arial;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #ffffff;
        display: block;
        flex-direction: row;
        min-height: 100vh;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
    }


    main{
        background-color: #ffffff;
        width: 100vw;
        height: 110vh;
    }

/* Navigation Menu */

    .nav-menu {
        background-color: none;
        width: 5vw;
    }

    #burger-menu {
        margin: 1rem auto;
        cursor: pointer;
    }

    .bar {                  /* for burger menu icon */
        display: block;
        width: 25px;
        height: 4px;
        margin: 5px auto;
        background-color: #000000;
        border-radius: .2rem;
    }

    #nav-content{
        display: none;
        width: 15vw;
        background-color: #ffffff;
        border-right: #000000 solid 2px;
    }

    .nav-page {
        background-color: #ffffff;
        color: #000000;
        margin: 1em;
        padding: 1em;
        cursor: pointer;
    }

    li {
        list-style-type: none;
    }

    .nav-page:hover {
        border: .15rem solid #000000;
        border-radius: 2rem;
        cursor: pointer;
    }

    .nav-link {
        text-decoration: none;
        color: #000000;
    }

    #logoutBtn {
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
    }


/* Calendar Content */

    /*Calendar View slide button*/
        input[type="checkbox"].toggle {
            opacity: 0;
            position: absolute;
            cursor: pointer;
            left: -9000px;  /*removes checkbox from being visible on page while remaining functional */
            top: -9000px;
        }

        input[type="checkbox"].toggle + label {
            position: relative;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        input[type="checkbox"].toggle + label::before {
            content: "";
            width: 8em;
            height: 2em;
            background-color: #ffffff;
            outline: 2px solid #000000;
            border-radius: 1em;
            transition: 200ms ease-in-out;
        }
        
        input[type="checkbox"].toggle + label::after {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: .1em;
            content: "Month";
            width: 5em;
            height: 1.75em;
            color: #ffffff;
            background-color: #000000;
            border-radius: 1em;
            transition: 200ms ease-in-out;
        }
        
        input[type="checkbox"].toggle:checked + label::after {
            transform: translateX(55%);
            background-color: #000000;
            content: "Day";
        }

        #toggle-button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    /* Monthly View */    
        .calendar {
            background-color: #ffffff;
            width: 40rem;
            height: 40rem;
            margin: 3rem auto;
            outline: #000000 solid 2px;
        }

        .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            cursor: pointer;
        }
        
        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
        
        .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
        }

        .month {
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 10rem;
            padding: 0 5rem;
            text-align: center;
            outline: #000000 solid 2px;
        }

        h2 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.8rem;
        }

        .month p {
            font-size: 1.3rem;
        }

        .month i {
        padding: .5rem .5rem;
        }

        .weekdays {
            display: flex;
            align-items: center;
            padding: 0 0.8rem;
            width: 100%;
            height: 5rem;
        }

        .weekdays div {
            letter-spacing: .1rem;
            width: calc(38.4rem/7); /* [(calendar width - weekdays padding)/7] [(40-1.6)/7] */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .days {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: .1rem;
        }

        .days div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .4rem;
            width: calc(34.2rem/7); /* [(calendar width - weekdays padding - days padding - days margin)/7] [(40 - (1.6 + 0.2 + (0.4 * 14) /7] */
            height: 4rem;
        }

        .days div:hover {
            border: .25rem solid #000000;
            border-radius: 2rem;
            cursor: pointer;
        }

        .today {
            background-color: #ffffff;
            border-radius: 2rem;
            border: solid 2px #000000;
        }

    #action-buttons {
        margin: 2rem 0;
    }

    #action-buttons button {
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
    }

    /*Arrun's CSS*/
    .recipeBox{
        border-radius:25px;
        border:2px solid #000000;
        padding:20px;
        width:700px;
        height:fit-content;
        display: block;
        margin-left:auto;
        margin-right:auto;
        margin-top: 35px;
    }

    #recipeName{
        text-transform: capitalize;
    }

    #recipeParagraph{
        width:400px;
    }
    
    .ingredients{
      display:inline-block;
      width:210px;
      height:fit-content;
      margin-left:425px;
      margin-top:-100%;
      font-size: 14px;
      background-color: #00FFFF;
      border-radius:10px;
      padding:15px;
    }

    .ingredients1{
        display:inline-block;
        width:210px;
        height:fit-content;
        margin-left:425px;
        margin-top:-100%;
        font-size: 14px;
        background-color: #00FFFF;
        border-radius:10px;
        padding:15px;
        position:relative;
        bottom:130px;
        
      }

      .recipe-buttons{
        display:flex;
        justify-content:center;
        align-items: center;
        
        
      }

      #recipe-buttons{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
        
    }

/* Common elements in login, signup & password reset pages */

#sub-header{
    text-align: center;   
}

#login-fieldset, #signup-fieldset{
    margin: auto;
    padding: 10px; 
    max-width: max-content;
    border: solid 2px #36846b;
  }

 #login-legend, #signup-legend{
     font-size: 2rem;
    } 

     #form-label{
    font-size: 1.5rem;
    }
 
    #form-control{
    font-size: 1.5rem;
    width:100%;
     }

  #login-buttons, #signup-buttons, #password-buttons{
    font-weight: 500;
    color: #ffffff;
    background-color: #36846b;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
    
}

/* icons for login page */

 .email-class::before{
     font: var(--fa-font-solid);
     content: "\40";
 }

 .password-class::before{
    font: var(--fa-font-solid);
    content: "\f023";
}

/* Password reset page */

#password-reset-label{
    font-size: 1.5rem;  
    display: block;
    text-align: center;
}

/* Divider for password reset page with text enrty and buttons */

#email-and-submit-div{
    text-align: center; 
    border: 1px solid"
}

    #password-reset-input{
    font-size: 1.5rem;
    }

    