/* General elements */

    *, *::after, *::before {
        box-sizing: border-box;
        font-family: Arial;
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #eae9e1;
        display: block;
        flex-direction: row;
        min-height: 100vh;
    }

    header{
        margin: 0.5em auto;
    }

    h1 {
        text-align: center;
        font-size: 3rem;
    }


    main{
        width: 100vw;
        height: 100vh;
    }

    .title-bar{
        display: flex;
        flex-direction: row;
    }

/* Navigation Menu */

#burger-menu {
    margin: 1em;
    cursor: pointer;
    display: inline;
}

.bar {                  /* for burger menu icon */
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: #000000;
    border-radius: .2rem;
}

#nav-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #nav-menu a {
    padding: 9px 8px 9px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  #nav-menu a:hover {
    color: #f1f1f1;
  }
  
  #nav-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  #spacer{
      height: 350px;
  }

/* Calendar Content */

    /* Left side of calendar page */
    #calendar-main{
        display: flex;
        flex-direction: row;
    }

    #calendar-actions{
        display: flex;
        flex-direction: column;
        margin: 0 10%;
    }
    
        /* Calendar View */    
            .calendar {
            display: block;
            width: 30rem;
            height: 35rem;
            margin: 1.5rem auto;
            outline: #000000 solid 2px;
            background-color: #bdccdb;
            }
            
            .arrow {
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            cursor: pointer;
            }
            
            .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            }
            
            .left {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg);
            }
            
            .month {
            background-color: #32465B;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 7rem;
            padding: 0 5rem;
            text-align: center;
            outline: #000000 solid 2px;
            }
            
            h2 {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.8rem;
            }
            
            .month p {
            font-size: 1.3rem;
            }
            
            .month i {
            padding: .5rem .5rem;
            }
            
            .weekdays {
            display: flex;
            align-items: center;
            padding: 0 0.6em;
            width: 100%;
            height: 4rem;
            background-color: #bdccdb;
            }
            
            .weekdays div {
            letter-spacing: .1rem;
            width: calc(29rem/7); /* [(calendar width - weekdays padding)/7] [(30-1.2)/7] */
            display: flex;
            justify-content: center;
            align-items: center;
            }

            .weekdays hr {
                width: 80%;
            }
            
            .days {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding: .35rem;
            background-color: #bdccdb;
            }
            
            .days div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: .38em ;
            width: calc(23.8rem/7); /*[calendar width - (weekdays padding + days padding +( days margin * 14)/7] [(30 - (1.2 + 0.7 + (0.38 * 14) /7] */
            height: 3rem;
            }
            
            .days div:hover {
            border: .25rem solid #32465B;
            border-radius: 2rem;
            cursor: pointer;
            }
            
            .prev-date, .next-date {
            opacity: 0.5;
            }
            
            .today {
            background-color: #bdccdb;
            border-radius: 2rem;
            border: solid 2px #000000;
            }
        
        /*Buttons for user interaction*/
            .calendar-buttons {
            margin: 1em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            }
            
            .calendar-buttons button {
            font-weight: 500;
            color: #ffffff;
            background-color: #32465B;
            border: none;
            padding: 1em;
            border-radius: .5em;
            margin: 1em;
            cursor: pointer;
            width: 14em;
            }
            
        /*New Event Form*/
            .newEvent {
                width: 50vw;
                padding: 2em;
                margin: auto;
                background-color: #eae9e1;
            }
            
            .newEvent button {
                font-weight: 500;
                color: #ffffff;
                background-color: #32465B;
                border: none;
                padding: 1em;
                border-radius: .5em;
                margin: 1em;
                cursor: pointer;
            }
            
            .form-input {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            
            #form-input input[type=submit]{
                font-weight: 500;
                color: #ffffff;
                background-color: #32465B;
                border: none;
                padding: 1em;
                border-radius: .5em;
                margin: 2em;
                cursor: pointer;
            }
            
            #form-input input{
                height: 3em;
            }
            
            #form-input input, label{
                width: 350px;
                margin-top: 1em;
            }

            #date-dropdown {
                display: flex;
            }

            #form-input select{
                margin: 1em;
                padding: .5em;
                border: #000000 solid 1px;
                background-color: #ffffff;
                border-radius: 1px;
            }
            

        /* Right side of calendar page */
            #events{
                margin: 1.5em 2em 0 1em;
                height: 75%;
                overflow: hidden;
            }

            .event-table{
                border: #000000 solid 2px;
                margin: 0 4em 1em 1em;
                border-collapse: collapse;
            }
            

            .event-title-col{
                width: 25%;
                text-align: right;
                vertical-align: top;
                padding: 0.25em 1em ;
                background-color: #32465B;
            }

            .event-title-output{
                text-align: left;
                vertical-align: top;
                padding: 0.25em 1em ;
                background-color: #bdccdb;
            }

            .event-spacer{
                background-color: #bdccdb;
            }

            #event-button{
                display: flex;
                justify-content: right;
                align-items: right;
                background-color: #bdccdb;
            }

            .remove-event-buttons{
                font-weight: 500;
                color: #ffffff;
                background-color: #32465B;
                border: none;
                padding: 0.5em;
                border-radius: .5em;
                margin-right: 0.5em;
                margin-bottom: 0.5em;
                cursor: pointer;
            }

            .tooltip {
                position: relative;
                display: inline-block;
            }

            .tooltip .tooltip-warning {
                visibility: hidden;
                width: 200px;
                background-color: black;
                opacity: 80%;
                color: #fff;
                text-align: center;
                padding: 5px 0;
                border-radius: 6px;
                position: absolute;
                top: -5px;
                right: 105%;
                z-index: 1;
            }

            .tooltip:hover .tooltip-warning {
                visibility: visible;
              }
        
            .edit-complete{
                font-weight: 500;
                color: #ffffff;
                background-color: #32465B;
                border: none;
                padding: 0.5em;
                border-radius: .5em;
                margin-right: 0.5em;
                margin-bottom: 0.5em;
                cursor: pointer;
                display: none;
            }

    /*Arrun's CSS*/
    .recipeBox{
        border:none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding:0.5%;
        width:60%;
        height:fit-content;
        display: block;
        margin-left:auto;
        margin-right:auto;
        margin-top: 35px;
        background-color: #FFF6EB;
        padding-left:2%;
    }
    .recipeBoxTitle{
        border:none;
        padding:0.5%;
        width:60%;
        height:fit-content;
        display: block;
        margin-left:auto;
        margin-right:auto;
        background-color: #FFF6EB;
        padding-left:2%;
    }

    .recipeBoxMethod{
        border:none;
        padding:0.5%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        width:60%;
        height:fit-content;
        display: block;
        margin-left:auto;
        margin-right:auto;
        background-color: #FFF6EB;
        padding-left:2%;
    }

    .recipeBoxIngredients{
        border:none;
        width:60%;
        padding-top:2.1%;
        padding-left:1.2%;
        position: absolute;
        left:26.5%;
    }
    .recipeBoxIngredients1{
        border:none;
        width:60%;
        padding-left:15%;
        padding-right:2%;
        padding-top:5.5%;
        height:fit-content;
        background-color: #FFF6EB;
        float:right;
    }
   


   
    #recipeName{
        text-transform: capitalize;
    }

    #recipeParagraph{
        width:400px;
    }
    
    .ingredients{
        background-color: #60BAD6;
        height:fit-content;
        width:fit-content;
        float:right;
        border-radius:10px;
        padding:15px;
        font-size:14px;
    }


      .recipe-buttons{
        display:flex;
        justify-content:center;
        align-items: center;
        
        
      }

      #recipe-buttons{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
        
    }
    .edit{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
    }
    .remove{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
    }



    #newRecipeDiv{
        margin: auto;
        margin-top:20px;
        padding: 10px; 
        max-width: max-content;
        border: solid 2px #36846b;
      }

    #recipeTitlelb{
        font-size: 1.5rem;
    }

    

    #recipreIngredientslb{
        font-size: 1.5rem;
    }

    #recipreMethodlb{
        font-size: 1.5rem;
    }

    #recipeTitle{
        margin: auto;
        margin-top: 20px;
        margin-bottom:20px;
        padding: 10px; 
        max-width: max-content;
      }
    
      #recipreIngredients{
        margin: auto;
        margin-bottom:20px;
        margin-left:5px;
        padding: 10px; 
        max-width: max-content;
      }
      #recipreMethod{
        margin: auto;
        margin-bottom:20px;
        margin-left:43px;
        padding: 10px; 
        max-width: max-content;
      }

      #add{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
        
        
    }

    .add-button{
        display:flex;
        justify-content:center;
        align-items: center;
        
        
      }

    #delete-button{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
        
    }

    #remove-button{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
    }

 /*Jamie's CSS*/
 .notesBox{
    border:2px solid #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding:0.5%;
    width:75%;
    height:fit-content;
    display: block;
    margin-left:15%;
    margin-right:15%;
    margin-top: 35px;
    background-color: #C0D6E4;
}

#notes-buttons{
    font-weight: 500;
    color: #ffffff;
    background-color: #36846b;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
    
}

#notes-center{
    display:flex;
    justify-content:center;
    align-items: center;
}

.notesForm-input,
.notesForm-textarea{
 width: 300px;
 height: 30px;
 background:transparent;
 border: 1px solid black;
 border-radius: 2px;
}

textarea{
    vertical-align: top;
} 

.notesol{
    margin-left: 35%; /* used this for testing the amount of space required */
}

.notesBoxTitle{
    border:2px solid #000000;
    padding:0.5%;
    width:75%;
    height:fit-content;
    display: block;
    margin-left:15%;
    margin-right:15%;
    background-color: #C0D6E4;
}

.notesBoxContent{
    border:2px solid #000000;
    padding:0.5%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:75%;
    height:fit-content;
    display: block;
    margin-left:15%;
    margin-right:15%;
    background-color: #C0D6E4;
}

.notesTable{
    width: 70%;
    margin-left:15%;
    margin-right:15%;
}

/* Common elements in login, signup & password reset pages */

#sub-header{
    text-align: center;   
}

#login-fieldset, #signup-fieldset{
    margin: auto;
    padding: 10px; 
    max-width: max-content;
    border: solid 2px #36846b;
  }

 #login-legend, #signup-legend{
     font-size: 2rem;
    } 

     #form-label{
    font-size: 1.5rem;
    }
 
    #form-control{
    font-size: 1.5rem;
    width:100%;
     }

  #login-buttons, #signup-buttons, #password-buttons{
    font-weight: 500;
    color: #ffffff;
    background-color: #36846b;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
    
}

/* icons for login page */

 .email-class::before{
     font: var(--fa-font-solid);
     content: "\40";
 }

 .password-class::before{
    font: var(--fa-font-solid);
    content: "\f023";
}

/* Password reset page */

#password-reset-label{
    font-size: 1.5rem;  
    display: block;
    text-align: center;
}

/* Divider for password reset page with text enrty and buttons */

#email-and-submit-div{
    text-align: center; 
    border: 1px solid;
}

    #password-reset-input{
    font-size: 1.5rem;
    }

    /* Account Page CSS */

    #account-buttons{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
        
    }

    
    #account-label{
        font-size: 1.5rem;
        }
     
        #account-control{
        font-size: 1.5rem;
        width:45%;
         }

        #account-fieldset{
            margin: auto;
            padding: 10px; 
            max-width: max-content;
            border: solid 2px #36846b;
          }

          /* Icons for Account Page Using FontAwesome */

          .account::before{
            font: var(--fa-font-solid);
            content: "\f007";
        }

        .accountSname::before{
            font: var(--fa-font-solid);
            content: "\f5b7";
        }

        .account-email::before{
            font: var(--fa-font-solid);
            content: "\40";
        }

        .accpassword::before{
            font: var(--fa-font-solid);
            content: "\f023";
        }

        .delete::before{
            font: var(--fa-font-solid);
            content: "\f2ed";
        }

        .account-edit::before{
            font: var(--fa-font-solid);
            content: "\f4ff";
        }

        /* Styling for button contained in account page */

        .flex-container > button {
            display: flex;
            flex-wrap: nowrap; 
            flex-direction: column;
            position: relative;
            left: 36em;
        }

        /*Css For Lists */
        #listBlock{
            margin-left: 15%;
            margin-right: 15%;

        }

        #listBtnBlock{
           
            left: 50%;
            bottom: 20px;
            transform: translate(-50%, -50%);
            margin: 35%;

        }

        #listBox{
            margin-top: 50px;
            border-radius: 25px;
            border: 2px solid #000000;
            padding: 20px;
            width: 175px;
            height: auto;
            text-align: center;
            justify-content: center;
            float: left;
            margin-left: 40px;
        }
        
        #listcontainer {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
          
          #listcontainer input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
          }

          #listTitle{
            font-size: 1.75rem;
        }
    
        #listItem{
            font-size: 1.5rem;
        }

        #newListDiv{
            margin: auto;
            margin-top:20px;
            padding: 10px; 
            max-width: max-content;
            border: solid 2px #36846b;
          }

          ul {
            margin: 0;
            padding: 0;
          }
          
          /* Style the list items */
          ul li {
            cursor: pointer;
            position: relative;
            list-style-type: none;
            transition: 0.2s;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }

          
          
          ul li.checked {
            text-decoration: line-through;
          }
          
          /* Check Box CSS */
          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
          }
          
          
          .listcontainer:hover input ~ .checkmark {
            background-color: #ccc;
          }
          
          
          .checkmark:after {
            content: "";
            position: absolute;
            display: none;
          }
          
          .listcontainer input:checked ~ .checkmark:after {
            display: block;
          }
          
          .listcontainer .checkmark:after {
            left: 7px;
            top: 1px;
            width: 10px;
            height: 22px;
            border: solid rgb(0, 0, 0);
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        
          .invisbox{
            margin-top: 50px;
            border-radius: 25px;
            border: 2px solid #000000;
            padding: 20px;
            width: 190px;
            height: auto;
            text-align: center;
            float: left;
            margin-left: 40px;
            visibility: hidden;
          }
        
        
        .listcontainer .listbtn {
          justify-content: flex-end;
          display: flex;
        }
        
        .listBtnBox{
            margin-top: 50px;
            width: 100%;
            text-align: center;
            justify-content: center;
            display: inline-block;
            
            
        }
        
        .addEditListBox{
            margin-top: 50px;
            
            padding: 20px;
            
            width: 100%;
            height: auto;
            text-align: center;
            justify-content: center;
            
            
        }

        /* Link Buttons CSS */

        a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;

        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
        
            
        }

        


          /* Admin Page CSS */

    #admin-buttons{
        font-weight: 500;
        color: #ffffff;
        background-color: #36846b;
        border: none;
        padding: 1em;
        border-radius: .5em;
        margin: 1em;
        cursor: pointer;
        
    }

    
    #admin-label{
        font-size: 1.5rem;
        }
     
        #admin-control{
        font-size: 1.5rem;
        width:45%;
         }

        #admin-fieldset{
            margin: auto;
            padding: 10px; 
            max-width: max-content;
            border: solid 2px #36846b;
          }

          /* Icons for Admin Page Using FontAwesome */

        .admin::before{
            font: var(--fa-font-solid);
            content: "\f002";
        }
        

        .admin-name::before{
            font: var(--fa-font-solid);
            content: "\f007";
        }

        .admin-email::before{
            font: var(--fa-font-solid);
            content: "\40";
        }

        .admin-password::before{
            font: var(--fa-font-solid);
            content: "\f023";
        }

        .admin-delete::before{
            font: var(--fa-font-solid);
            content: "\f2ed";
        }

        .admin-save::before{
            font: var(--fa-font-solid);
            content: "\f0c7";
        }

        /* Styling for button contained in admin page */

        .flex-container > button {
            display: flex;
            flex-wrap: nowrap; 
            flex-direction: column;
            position: relative;
            left: 36em;
        }
