/* General elements */

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D8B196;
    display: block;
    flex-direction: row;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    margin: 0.5em auto;
}

h1 {
    color: #26403E;
    text-align: center;
    font-size: 3rem;
}

h2 {
    color: #26403E;
}


main {
    width: 100vw;
    height: min-content;
}

.title-bar {
    display: flex;
    flex-direction: row;
}

hr {
    margin-top: 5px;
}

ul {
    list-style-type: none;
}

/* Div for all add/edit Buttons */
.buttonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actionButton {
    font-weight: bold;
    color: #ffffff;
    background-color: #26403E;
    border: none;
    box-shadow: 0.3em 0.3em 0.2em #172625;
    padding: 1em;
    border: solid 1px #172625;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
    height: 3em;
    width: 10em;
}

/* edit button in account page */
#editAccount button {
    margin: 1em 25%;
}

/* Anchors styled as buttons as links to other pages */
.anchorButton {
    font-weight: bold;
    color: #DCD6C8;
    background-color: #26403E;
    box-shadow: 0.3em 0.3em 0.2em #172625;
    border: none;
    border-radius: .5em;
    padding: 1em;
    margin: 1em;
    height: 2.5em;
    width: 8em;
    text-decoration: none;
    text-align: center;
    line-height: 0.6em;
    cursor: pointer;
}

/* Input fields styling */

input[type=text],
input[type=password],
input[type=email] {
    min-height: 3em;
    margin-top: 0.5em;
    padding: 0.5em;
    max-width: 25em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em #365B56;
    font-size: medium;
}


input[type=checkbox] {
    margin-right: 0.5em;
}

/* styling for textareas to match text inputs */
textarea {
    min-height: 10em;
    margin-top: 0.5em;
    padding: 0.5em;
    max-width: 25em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em #365B56;
    resize: vertical;
    font-size: medium;
}

.display-dropdown {
    margin-top: 0.5em;
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
    border: 0.01em solid #172625;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em #365B56;
}

/*Scroll bar for chrome, edge, safari*/

::-webkit-scrollbar {
    width: 0.5em;
    /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background-color: #365B56;
    /* color of the scroll thumb */
    border-radius: 1em;
    /* roundness of the scroll thumb */
    border: 0.5em solid #365B56;
    /* creates padding around scroll thumb */
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* Scrollbar for firefox */
.scrollbox {
    /*Scroll bar details for firefox*/
    scrollbar-width: thin;
    /* "auto" or "thin" */
    scrollbar-color: #365B56 #C77A4C;
    /* scroll thumb and track */
}

/* Utility Classes - classes that have a generic 
job that is used throughout project*/

.hide {
    visibility: hidden;
}

.pairing {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.pairing p,
label {
    margin-top: 1em;
    font-size: 1.5rem;
}



/* Navigation Menu */
#burger-menu {
    margin: 1em;
    cursor: pointer;
    display: inline;
}

.bar {
    /* for burger menu icon */
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    background-color: #000000;
    border-radius: .2rem;
}

#nav-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#nav-menu a {
    padding: 9px 8px 9px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

#nav-menu a:hover {
    color: #f1f1f1;
}

#nav-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#spacer {
    height: 250px;
}

/* Calendar Content */

/* Left side of calendar page */

#calendar-content {
    display: flex;
    flex-direction: row;
    background-color: #C77A4C;
    box-sizing: border-box;
    border: 2px solid #365B56;
    box-shadow: 1em 1em #365B56;
    width: 80%;
    height: 45em;
    margin: 1% auto;
    padding: 1%;
}

#calendar-actions {
    display: flex;
    flex-direction: column;
    margin: 0 5% 0 5%;
}

/* Calendar View */
.calendar {
    display: block;
    width: 30rem;
    height: 35rem;
    margin: 3% 0;
    background-color: #DCD6C8;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.month {
    background-color: #365B56;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 7rem;
    padding: 0 5rem;
    text-align: center;
}

.date h2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.8rem;
}

.month p {
    font-size: 1.3rem;
}

.month i {
    padding: .5rem .5rem;
}

.weekdays {
    display: flex;
    align-items: center;
    padding: 0 0.6em;
    width: 100%;
    height: 4rem;
    background-color: #DCD6C8;
}

.weekdays div {
    letter-spacing: .1rem;
    width: calc(29rem/7);
    /* [(calendar width - weekdays padding)/7] [(30-1.2)/7] */
    display: flex;
    justify-content: center;
    align-items: center;
}

.weekdays hr {
    width: 80%;
}

.days {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: .35rem;
    background-color: #DCD6C8;
}

.days div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .38em;
    width: calc(23.4rem/7);
    /*[calendar width - (weekdays padding + days padding +( days margin * 14))/7] [(30 - (1.2 + 0.7 + (0.38 * 14)) /7] */
    height: 3rem;
    
}

.days div:hover {
    border: .25rem solid #365B56;
    border-radius: 2rem;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity: 0.5;
}

.today {
    background-color: #DCD6C8;
    border-radius: 2rem;
    border: solid 2px #365B56;
}

/*New Event Form*/
.newEvent {
    width: 50vw;
    padding: 2em;
    margin: auto;
    background-color: #eae9e1;
}

.form-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#form-input input,
label {
    width: 80%;
    margin-top: 1em;
}

#events {
    display: flex;
    flex-direction: column;
    width: 40em;
    margin-top: 1em;
    background-color: #C77A4C;
}

.event {
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin: 1em auto;
    border: #365B56 solid 2px;
    max-width: 100%;
    background-color: #DCD6C8;
    box-shadow: 0.5em 0.5em #365B56;
}

#event-content {
    width: 80%;
}

#event-content p {
    padding: 0.5em;
}

#event-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10em;
}

#event-btns a {
    background-color: #26403E;
    box-shadow: 0.3em 0.3em 0.2em #172625;
    border: none;
    border-radius: .5em;
    padding: 1.3em 0.5em;
    margin: 1em;
    height: 2.8em;
    width: 8em;
    text-decoration: none;
    text-align: center;
    line-height: 0.6em;
    font-weight: 600;
    font-size: small;
    color: #DCD6C8;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltip-warning {
    visibility: hidden;
    width: 200px;
    background-color: black;
    opacity: 80%;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: -5px;
    right: 105%;
    z-index: 1;
    line-height: 1em;
}

.tooltip:hover .tooltip-warning {
    visibility: visible;
}

/* ======================RECIPE PAGE====================== */

.recipeTable {
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    border-collapse: collapse;
}

.recipeBackground {
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
}

.recipeTitle {
    text-align: left;
    padding: 0.5em;
}

.recipeHeader {
    padding: 0.5em;
    font-weight: bold;
}

.recipeMethod {
    width: 50em;
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
}

.recipeIngredients {
    padding: 0.5em;
    vertical-align: top;
    text-align: left;
}

#newRecipe {
    margin: 2em auto;
    padding: 1em 3em;
    max-width: max-content;
    background-color: #C77A4C;
    box-sizing: border-box;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
}



/**universal buttons*
#add {
    font-weight: 500;
    color: #ffffff;
    background-color: #365B56;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
}

#del {
    font-weight: 500;
    color: #ffffff;
    background-color: #365B56;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;


}

#back {
    font-weight: 500;
    color: #ffffff;
    background-color: #365B56;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
}
*/

.inputs {
    display: flex;
    justify-content: right;
    align-items: right;


}

/* #Titlelb {
    font-size: 1.5rem;
}



#contentlb {
    font-size: 1.5rem;
}

#detaillb {
    font-size: 1.5rem;
}

#noteTitle {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 40px;
    max-width: max-content;
}

#noteContent {
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    max-width: max-content;

}

#Title {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    max-width: max-content;
}

#content {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 26px;
    padding: 10px;
    max-width: max-content;

}

#detail {
    margin: auto;
    margin-bottom: 20px;
    margin-left: 65px;
    padding: 10px;
    max-width: max-content;
} */

.add-button {
    display: flex;
    justify-content: center;
    align-items: center;


}

#delete-button {
    font-weight: 500;
    color: #ffffff;
    background-color: #365B56;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;

}

#remove-button {
    font-weight: 500;
    color: #ffffff;
    background-color: #365B56;
    border: none;
    padding: 1em;
    border-radius: .5em;
    margin: 1em;
    cursor: pointer;
}



/* ======================NOTES PAGE====================== */


.notesBox {
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
    height: 25em;
    width: 18em;
    text-align: left;
    justify-content: left;
    float: left;
}

#notes-content {
    height: 20em;
    overflow: scroll;
}

#newNote {
    margin: 2em auto;
    padding: 1em 3em;
    max-width: max-content;
    background-color: #C77A4C;
    box-sizing: border-box;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
}


/* ======================SIGNUP PAGE====================== */

#sub-header {
    text-align: center;
}

.signupAlign {
    display: flex;
    justify-content: left;
    align-items: left;
}

#signupBox {
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
    text-align: left;
    justify-content: left;
    float: left;
}

#accountBenifits {
    padding: 1em;
    margin: 1em;
    margin-left: auto;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
}


/* ======================PASSWORD PAGE====================== */
#passwordBox {
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
    text-align: left;
    justify-content: left;
    float: left;
}

.passwordAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

#emailInput {
    min-height: 3em;
    margin-top: 0.5em;
    padding: 0.5em;
    min-width: 31em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    box-shadow: 0.2em 0.2em #365B56;
    font-size: medium;
}

#passwordBlock {
    margin: 2% 15% 10% 15%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #C77A4C;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
    width: fit-content;
}

/* ======================ACCOUNT PAGE====================== */

#accountSection {
    margin: 1em auto;
    padding: 1em;
    width: fit-content;
    height: 75%;
    background-color: #C77A4C;
    box-sizing: border-box;
    border: 1em solid #C77A4C;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
    display: flex;
    flex-direction: column;
}

#accountBox {
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
    text-align: center;
    justify-content: center;
    float: center;
    width: fit-content;
}

#accountButton {
    text-align: left;
    justify-content: left;
    float: left;
}

.accountAlign {
    display: flex;
    justify-content: center;
    align-items: center;
}

#accountInfo {
    font-size: large;
}

#editAccountBox {
    padding: 1em;
    margin: 1em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
    text-align: left;
    justify-content: center;
    float: center;
    width: 50em;
}

/* Icons for Account Page Using FontAwesome */

.account::before {
    font: var(--fa-font-solid);
    content: "\f007";
}

.accountSname::before {
    font: var(--fa-font-solid);
    content: "\f5b7";
}

.account-email::before {
    font: var(--fa-font-solid);
    content: "\40";
}


/* icons for login page */

.email-class::before {
    font: var(--fa-font-solid);
    content: "\40";
}

.password-class::before {
    font: var(--fa-font-solid);
    content: "\f023";
}


/*===============================================================*/
/*Styling for LISTS page */

/* list boxes on lists page */
#newListDiv {
    margin: 2em auto;
    padding: 1em 3em;
    max-width: max-content;
    background-color: #C77A4C;
    box-sizing: border-box;
    border: 1em solid #C77A4C;
    box-shadow: 1em 1em #365B56;
    border: 2px solid #365B56;
}

#listBlock {
    margin: 2% auto 10% auto;
    padding: 1em;
    /* grid-auto-rows: 4fr; */
    width: 70%;
    display: flex;
    flex-direction: column;
    background-color: #C77A4C;
    box-sizing: border-box;
    box-shadow: 1em 1em #365B56;
    border: 2px solid #365B56;
}

/* list boxes on lists page */
#newListDiv {
    margin: 2em auto;
    padding: 1em 3em;
    max-width: max-content;
    background-color: #C77A4C;
    box-sizing: border-box;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
}

.listBox {
    padding: 1em;
    margin: 1em 2em 1em 2em;
    border: 0.1em solid #172625;
    border-radius: 0.2em;
    background-color: #DCD6C8;
    box-shadow: 0.2em 0.2em #365B56;
    height: 27em;
    width: 20%;
    text-align: left;
    justify-content: left;
    float: left;
}

.listBox li {
    margin: 0.5em 0.2em;
}

#list-content {
    height: 20em;
    overflow-y: scroll;
}

/* Update List Page Content */
.listGroup {
    display: flex;
    flex-direction: row;
    margin: 0.8em 8%;
    border: 0.2em solid #365B56;
    box-shadow: 0.3em 0.3em #365B56;
    border-radius: 0.5em;
    padding: 1em;
    background-color: #DCD6C8;
}

.listTitle {
    align-items: center;
    justify-content: center;
}

.listTitle input[type=text] {
    width: 100%;
}

.updateCheck {
    align-self: flex-end;
}

/*====================================================================*/
/*Styling for Admin Page */
#accountsInfo {
    margin: 1em auto;
    padding: 1em;
    width: 40%;
    height: 75%;
    background-color: #C77A4C;
    box-sizing: border-box;
    border: 1em solid #C77A4C;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
    display: flex;
    flex-direction: column;
}

#accountChoice {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
    height: 8em;
    width: 80%;
    border: #000000 solid 2px;
    background-color: #DCD6C8;
    box-shadow: 0.5em 0.5em #365B56;
}

#accountIdentifier {
    width: 80%;
    padding: 1em;
}

#accountSelect {
    width: 20%;
    pad: 1em;
}

#accountChoice a {
    margin-right: 10%;
    padding: 1em;
}

/* Icons for Admin Page Using FontAwesome */

.admin::before {
    font: var(--fa-font-solid);
    content: "\f002";
}


.admin-name::before {
    font: var(--fa-font-solid);
    content: "\f007";
}

.admin-email::before {
    font: var(--fa-font-solid);
    content: "\40";
}

.admin-password::before {
    font: var(--fa-font-solid);
    content: "\f023";
}

.admin-delete::before {
    font: var(--fa-font-solid);
    content: "\f2ed";
}

.admin-save::before {
    font: var(--fa-font-solid);
    content: "\f0c7";
}

/* Styling for button contained in admin page */
/*
.flex-container>button {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    position: relative;
    left: 36em;
}*/

/*====================================================================*/

/* Styling for Landing Page */
#landing-main {
    display: flex;
    flex-direction: row;
    margin: 1em auto;
}

#landing-left {
    display: flex;
    flex-direction: column;
}

.landing-left-inner {
    display: block;
    max-width: 38rem;
    height: 36%;
    margin: 0 0 5% 11%;
    padding: 1.5em 2em 3em 2em;
    outline: #365B56 solid 2px;
    overflow-y: scroll;
    box-sizing: border-box;
    border: 1em solid #C77A4C;
    background-color: #C77A4C;
    box-shadow: 1em 1em #365B56;
}

.lists-point {
    padding: 0.2em;
    margin-left: 1.5em;
}

#landing-right {
    margin: 0 5% 5% 5%;
    width: 47%;
    height: 60em;
    padding: 2em 2em 3em 2em;
    outline: #365B56 solid 2px;
    overflow-y: scroll;
    background-color: #C77A4C;
    box-sizing: border-box;
    border: 1em solid #C77A4C;
    box-shadow: 1em 1em #365B56;
}

#landing-right h3 {
    margin-left: 1.5em;
}

.landing-list {
    padding: 1em;
    margin: 1em auto;
    border: #365B56 solid 2px;
    width: 100%;
    background-color: #DCD6C8;
}

#landing-event {
    padding: 0 1em 1em 1em;
    margin: 0 0.5em;
    height: 90%;
    overflow-y: scroll;
    background-color: #C77A4C;
}

#landing-event h3 {
    margin-left: 0;
}

/*  The styling for the events section on the landing page uses the code from
        the calendar section */

/*====================================================================*/


/* Styling for Update Calendar Event */

#entry {
    margin: 0 30%;
}

/* UNIVERSAL UPDATE PAGE STYLING */
#updatePageContent {
    margin: 1em auto;
    padding: 1em;
    width: 50%;
    background-color: #C77A4C;
    box-sizing: border-box;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
}

/* CENTERS LABELS AND INPUTS ON UPDATE PAGES */
.updateAlign {
    display: grid;
    justify-content: center;
    align-items: center;
}

/* UNIVERSAL SECTION STYLING */
#sectionBlock {
    margin: 2% 15% 10% 15%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    background-color: #C77A4C;
    box-shadow: 0.5em 0.5em #365B56;
    border: 2px solid #365B56;
    width: fit-content;
}

/* UNIVERSAL LABEL STYLING */
.sectionLabels {
    font-size: 1.5rem;
}

/* media queries for password page */
@media screen and (max-width: 425px) {

    html.passwordPage,
    .passwordPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: auto;
    }

    .passwordPage h2,
    .passwordPage #passwordBox,
    .passwordPage #passwordBlock {
        max-width: 95%;
    }

    .passwordPage .sectionLabels {
        width: auto;
    }

    .passwordPage #emailInput {
        min-width: auto;
    }
}


/* media queries for signup page */
@media screen and (max-width: 425px) {

    html.signupPage,
    .signupPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .signupPage #sectionBlock {
        max-width: 80%;
        margin: auto;
    }

    .signupPage h2 {
        max-width: 95%;
    }

    .signupPage div {
        flex-direction: column;
    }

    .signupPage #form-label {
        white-space: pre;
    }

    .signupPage .actionButton {
        margin: 0;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .signupPage #signupBox,
    .signupPage #accountBenifits {
        width: auto;
        margin: 1em;
        font-size: small;
    }

    .signupPage .sectionLabels {
        font-size: medium;
        font-weight: bold;
    }
}

/* media queries for notes page */
@media screen and (max-width: 425px) {

    html.notesPage,
    .notesPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .notesPage #sectionBlock,
    .notesPage #newNote {
        max-width: 80%;
        min-height: fit-content;
    }

    .notesPage #notesAlign,
    .notesPage #note {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .notesPage .notesBox {
        font-size: small;
        min-height: fit-content;
    }

}

/* media queries for update notes page */
@media screen and (max-width: 425px) {

    html.updatenotesPage,
    .updatenotesPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .updatenotesPage #updatePageContent {
        width: 80%;
        min-height: fit-content;
    }

    .updatenotesPage .pairing {
        max-width: 80%;
        min-height: fit-content;
    }

}

/* media queries for recipes page */
@media screen and (max-width: 425px) {

    html.recipesPage,
    .recipesPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .recipesPage #sectionBlock {
        max-width: 80%;
        min-height: fit-content;
        margin: auto;
    }

    .recipesPage #newRecipe {
        max-width: 80%;
        min-height: fit-content;
    }

}

/* media queries for update recipes page */
@media screen and (max-width: 425px) {

    html.updateRecipesPage,
    .updateRecipesPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .updateRecipesPage #updatePageContent {
        width: 80%;
        min-height: fit-content;
    }

    .updateRecipesPage .pairing {
        max-width: 80%;
        min-height: fit-content;
    }

}

/* media queries for account page */
@media screen and (max-width: 425px) {

    html.accountPage,
    .accountPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .accountPage #accountInfo {
        font-size: small;
    }

    .accountPage #accountSection {
        width: 80%;
        min-height: fit-content;
    }

    .accountPage #accountBox {
        text-align: left;
    }

    .accountPage label {
        font-size: larger;
        width: auto;
    }

}

/* media queries for update account page */
@media screen and (max-width: 425px) {

    html.updateaccountPage,
    .updateaccountPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .updateaccountPage .accountAlign,
    .updateaccountPage #sectionBlock,
    .updateaccountPage #editAccountBox
     {
        max-width:90%;
        min-height: fit-content;
        margin: auto;
    }

    .updateaccountPage label
     {
        font-size: larger;
        width: auto;
    }
    .updateaccountPage .accountButton{
        
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
   }
    

    .updateaccountPage button
    {
        font-size: small;
       min-width: fit-content;
    margin: 2%;
   }

}

/* media queries for lists page */
@media screen and (max-width: 425px) {

    .listPage .listBox{
        width: 70%;

    }

    .listPage #newListDiv{
        max-width: 80%;
        min-height: fit-content;
    }
}

/* media queries for update list page */
@media screen and (max-width: 425px) {

    
    
    
}

/* media queries for login page */
@media screen and (max-width: 425px) {

    html.loginPage,
    .loginPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .loginPage #sectionBlock {
        max-width: 80%;
        margin: auto;
    }

    .loginPage h2 {
        max-width: 95%;
    }

    .loginPage div {
        flex-direction: column;
    }

    .loginPage #form-label {
        white-space: pre;
    }

    .loginPage .actionButton {
        margin: 0;
        margin-bottom: 1em;
        margin-top: 1em;
    }

    .loginPage #signupBox,
    .loginPage #accountBenifits {
        width: auto;
        margin: 1em;
        font-size: small;
    }

    .loginPage .sectionLabels {
        font-size: medium;
        font-weight: bold;
    }
}

/* media queries for landing page */
@media screen and (max-width: 425px) {

    html.landingPage,
    .landingPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .landingPage #landing-main {
        max-width: 80%;
        min-height: fit-content;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .landingPage h2 {
        max-width: 95%;
    }

    /*landing-right not changing size*/
    .landingPage .landing-left-inner, .landingPage .landing-right {
        max-width: 100%;
        margin: 10% 0;
    }
    .landingPage #events {
        width: 80%;
    }
    
}

/* media queries for calendar page */
@media screen and (max-width: 425px) {

    html.calendarPage,
    .calendarPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }

    .calendarPage #calendar-content {
        max-width: 80%;
        min-height: fit-content;
        display: flex;
        flex-direction: column;
    }

    .calendarPage .calendar {
        width: 96%;
        height: fit-content;
        margin: 10% auto;
    }
    .calendarPage .month {
        height: 3.5rem;
        padding: 1em;
    }
    .calendarPage .weekdays {
        font-size: 0.7rem;
        padding: 0 0.3em;
    }
    .calendarPage .date {
        width: 60%;
    }
    .calendarPage .date h2, .date p {
        font-size: 0.9rem;
    }
    .calendarPage .days div {
        width: 8%;
        margin: 0 3%;
    }
    .calendarPage .newEvent {
        width: 70%;
    }
    .calendarPage .actionButton {
        height: 4em;
    }
    .calendarPage #events {
        max-width: 100%;
    }
    .calendarPage #landing-event {
        height: auto;
        overflow-x: hidden;
    }

}

/* media queries for update event page */
@media screen and (max-width: 425px) {

    html.updateEventPage,
    .updateEventPage body {
        max-width: 100%;
        overflow-x: hidden;
        height: fit-content;
    }
    .updateEventPage #updatePageContent {
        width: 80%;
        min-height: fit-content;
    }
    .updateEventPage #entry {
        width: 80%;
        min-height: fit-content;
        margin: 0 auto;
    }
    .updateEventPage .pairing {
        max-width: 100%;
        min-height: fit-content;
    }
    .updateEventPage input[type=text] {
        max-width: 80%;
    }
}
